.logo{
display:block;
    text-align: center;
    margin:0 auto;}

.portret{
display:block;
    text-align: center;
    margin:0 auto;}

.textabout{
font-family: sans-serif;
display:block;
    text-align: center;
    margin:0 auto;}
.helo{
    font-size: 30px;
}

.name{
    font-size: 30px;
}

.postersphotos{
    text-align: center;
    margin:0 auto;}
    
.tablica{
    padding:0 px;
    display:block;
    text-align: center;
    margin:10 px;
    
}